<div class="about-page pure-u-1 pure-u-lg-4-5">
    <h1>About the ThoughtStore</h1>
    <p>
        We humans do a lot of thinking, use ThoughtStore as a Diary or Journal to
        keep track of what's going on in your life, your project or anything else
        you can think of.
    </p>

    <ul>
        <li>Thoughts are <b>private</b> and only available to your user</li>
        <li>Thoughts are never shared with anyone</li>
    </ul>

    <p>
        ThoughtStore is made by <a href="http://www.112percent.com">Byron Williams</a>
        and <a href="https://twitter.com/lloydkatz">Lloyd Katz</a>. Hosted with
        <a href="http://www.figroll.io">Figroll</a>.
    </p>
</div>
